---
title: Blog
---




{% include TecSecSolutionHeader.html %}
<section class="blog-page">

    <div class="container">

        <h1 class="page-title">TecSecSolution Blog</h1>

        <div class="blog-grid">

            {% for post in site.posts %}

            <article class="blog-card">

                <div class="blog-card-content">

                    <h2 class="blog-title">
                        <a href="{{ post.url | relative_url }}">
                            {{ post.title }}
                        </a>
                    </h2>

                    <p class="blog-preview">
                        {{ post.featured_paragraph }}
                    </p>

                    <a class="read-more-btn" href="{{ post.url | relative_url }}">
                        Read More
                    </a>

                </div>

            </article>

            {% endfor %}

        </div>

    </div>

</section>

<script src="script.js"></script>
{% include TecSecSolutionFooter.html %}
